.auth-content {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: inherit;
    border-radius: 4px;
}

.auth-title {
    color: black;
    font-weight: 600;
    font-size: 28px;
    float: left;
    margin-left: 0px;
}

.input-box {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 40px;
}

.input-box input {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
}

.input-box button {
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 85%;
    padding: 8px;
    border-radius: 4px;
    margin-top: 30px;
    background-color: black;
}

.input-box button:hover {
    cursor: pointer;
}

.auth-content .switch-widget  {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 0px;
    padding: 0px;
    border: none;
    background-color: inherit;
    text-align: left;
    align-self: center;
    width: 80%;
    
}

.switch-widget:hover {
    cursor: pointer;
    color: #333;
}